{% extends "base.html" %}

{% block content %}

<h1>Task 1: Coming up with a story</h1>
<p class="fw-italic">Sample - {{ sample_id }} </p>

<p>You have to come up with a short story (between 5 and 20 sentences) that would be appropriate for children. It should be a new story, but it can be similar in style and form to existing ones such as Cinderella, The Three Little Pigs, or Hansel and Gretel. You could also, for example, write about how you scored the winning goal in the World Cup finals.</p>

<b><p>Your story can be about anything!</p></b>

<p>On the next page, the story will be split into sentences. You will then be asked to shuffle the sentences and estimate the difficulty of reconstructing the story.</p>

<h2>Examples of themes</h2>
<p>Suggestions for themes for these kinds of stories include animals, adventures, friendship, family, school, etc.
It is up to you whether the story includes magical or fantastic elements.
Some stories have a take-home message or moral, but this is not necessary.</p>

<p>Please use appropriate punctuation between sentences to make sure they are processed correctly by the system.</p>

<form action="{% url 'enter_story' %}" method="post">
    {% csrf_token %}
    {{ form }}
</form>

{% endblock %}