{% extends "base.html" %}

{% block content %}

<h1>Task 1: Coming up with a story</h1>
<p class="fw-italic">Sample - {{ sample_id }} </p>

You have to come up with a short story (between 5 and 30 sentences) that would be appropriate for children. It should be a new story, but it can be similar in style and form to existing ones such as Cindarellia, The Three Little Pigs, or Hansel and Gretel.

On the next page, the story will be split into sentences. You will then be asked to shuffle the sentences and estimate the difficulty of reconstructing the story.

<h2>Examples of themes</h2>
Suggestions for themes for these kinds of stories include animals, adventures, friendship, family, school, etc.
It is up to you whether the story includes magical or fantastic elements.
Some stories have a take-home message or moral, but this is not necessary.

<h2>Style hints</h2>
Consider whether the story is descriptive "Oddyseus arrived at the island, and asked whether anyone had seen a cyclope." or active "Oddyseus asked: 'Has anyone seen a cyclope?'.
Also think about the narrator. Is it a character in the story, or an omniscient narrator?


<form action="{% url 'enter_story' %}" method="post">
    {% csrf_token %}
    {{ form }}
</form>

{% endblock %}