{% extends "base.html" %}

{% block content %}

<h1>Task 2: Shuffling your story</h1>
<p class="fw-italic">Sample - {{ sample_id }} </p>

We have automatically split your story into sentences.
You can drag and drop sentences to change their order.
You can select a sentence by clicking and holding the left mouse button.
Releasing the left mouse button while hovering over another sentence switches their position.
When you are happy with your shuffle, rate the difficulty and press the {{ _("Next") }} button.

<h3>Reshuffling difficulty</h3>
Before submitting your story, you should think about how hard it is to reconstruct the story.
You can do this on a scale from 0 to 10, where 0 means trivial (perhaps even unchanged) and 10 means that all sentence have been totally randomized in a way that there is no discernible logical ordering.

<h2>Your original story</h2>

<div class="container">
    <div class="box">
        {{ story_text }}
    </div>
</div>

<h2>The reshuffled story</h2>

<form action="{% url 'shuffle_story' %}" method="post">
    {% csrf_token %}
    <div class="container">
        {% for sentence in tokenized_story_text %}
        <div draggable="true" class="box"><input type="hidden" name="dragdrop_list" value="{{ sentence }}">{{ sentence }}</div>
        {% endfor %}
        <div>

        </div>
    </div>
    {{ form }}
</form>

{% endblock %}