{% extends "base.html" %}

{% block content %}

<h1>{{ _("Thank you!") }}</h2>
<p>{{ _("This concludes the experiment. You are very much encouraged to redo the experiment as much as you like, provided all your stories are somewhat unique. The more stories, the better!") }}</p>

<p>{{ _("Feel free to ask us any questions you may have about the experiment or the world of large language models. On behalf of the team, we thank you for your participation!") }}</p>

<ul>
    <li>Malvina Nissim (m.nissim@rug.nl) - Professor in Computational Linguistics & Society</li>
    <li>Tommaso Caselli (t.caselli@rug.nl) - Assistant Professor in Computational Linguistics</li>
    <li>Rik van Noord (r.i.k.van.noord@rug.nl) - Assistant Professor in Computational Linguistics</li>
    <li>Yevgen Matusevych (yevgen.matusevych@rug.nl) - Assistant Professor in Computational Linguistics</li>
    <li>Patrick Darwinkel (patrick.darwinkel@tno.nl) - R&D Software Engineer</li>
</ul>
{% endblock %}